@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');


body{
    background: rgb(39, 42, 62);
    font-family: "Changa", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.relogio{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border: 5px solid #fff; /* Cor inicial do LED */
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 30px 15px #fff;
}

span{
    margin-right: 0.5rem;
}